<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新規投稿</title>
<link rel="stylesheet" type="text/scss" href="/app/assets/stylesheets/all_posts.scss">
</head>
<body>
<header>
		<div class="share-header">
			<div class="h-contents">
				<div class="h-component">
					<div class="h-component-h1">地元の掲示板 Suchmos</div>
				</div>
				<div class="h-flex-component">
					<div class="number-of-data">
						<a class="click-link-black" href="">00000000件 5/18日更新 地元の掲示板 Suchmos</a>
					</div>
					<div class="h-a-flex">
						<%= link_to("ホームへ", { controller: "all_posts", action: "all_post"}, {method: :get, class: "begnner"}) %> 
						<a class="login-button"
							rel="nofollow" href="">ログイン</a>
							<%= link_to("マイページ", { controller: "mypage", action: "top", id: 1 }, class: "mypage-button") %>
						<div class="h-regist-button">
							<a class="r-buttom" rel="nofollow" href="">会員登録</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
<%= button_to "新しく投稿する",{controller: "new_posts", action: "new_post"}, {method: :get, class: "new_post_btn"} %>
<div id="submenu">
<div id="submenu_header">キーワードから探す</div>
<div id="sample">

<%= form_tag(search_word_path,:method => 'get') do %>
<input type="text" name="sitem" class="text" placeholder="キーワードを入れてください"><!--検索キーワード-->
<input value="検索" type="submit" class="btn"><!--検索ボタン-->
<% end %>
</div><br>

		<div id="submenu_header">カテゴリーから探す</div>
		<ul id="submenu_body">
		<% @categories.each do |category| %>
			<%= link_to category.category, search_cate_path(:category_id => category.id) %>
			<% end %>
		</ul>
		<div id="search_header">都道府県から探す</div>
		<div id="search_body">

<%= form_tag(search_pref_path, method: "get") do %>			
<div class="pulldown">
<%= select_tag :prefecture_id, options_from_collection_for_select(Prefecture.all, :id, :prefecture) %>
</div>
<input id="sbtn1" type="submit" value="検索" />
		</div>
	</div>
	<% end %>
<% @posts.each do |post| %>
<ul class = "onePost">
<li class="onePost_1">

<%= link_to post.title, controller: "post_details", action: "post_detail", id: post.id %>
<div id="category">
		<p class="cate" ><%= post.category.category %></p>
		</div>
<div class="a">
<div class="post_date">投稿日時：<%= simple_time(post.created_at) %></div>
		<div class="from_area">場所：[<%= post.prefecture.prefecture %>]</div>
</div>
		</li>
</ul>
<% end %>

</body>
</html>