<header>
		<div class="share-header">
			<div class="h-contents">
				<div class="h-component">
					<div class="h-component-h1">地元の掲示板 Suchmos</div>
				</div>
				<div class="h-flex-component">
					<div class="number-of-data">
						<a class="click-link-black" href="">00000000件 5/18日更新 地元の掲示板 Suchmos</a>
					</div>
					<div class="h-a-flex">
						<a class="begnner" href="">初めての方へ</a> <a class="login-button"
							rel="nofollow" href="">ログイン</a>
							<%= link_to("マイページ", { controller: "mypage", action: "top", id: 1 }, class: "mypage-button") %>
						<div class="h-regist-button">
							<a class="r-buttom" rel="nofollow" href="">会員登録</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<% @users.each do |user| %>
<div class="mypage-body">
<label></label>
<h3 class="user-info">ユーザーネーム：<%= user.nickname %></h3>
<h3 class="user-info">メールアドレス：<%= user.email %></h3>
<h3 class="user-info">誕生日：<%= user.birthday %></h3>
<h3 class="user-info">都道府県：<%= user.prefecture_id %></h3>
<h3 class="user-info">更新日時：<%= simple_time(user.updated_at) %></h3>
<h3 class="user-info">投稿数： <%= @postNumber %></h3>
<%= button_to "プロフィールを編集する",{controller: "mypage", action: "edit", id: 1}, {method: :get, class: "profile-edit-btn"} %>
</div>
<% end %>
<h1>★今までの投稿</h1>
<div class="all-post">
<% @posts.each do |post| %>
<div class="one-post">
<h3 class="post-info"><span cless="title-label">■タイトル : </span><%= post.title %></h3>
<h3 class="post-info"><span class="update-label">■更新日時 : </span><%= simple_time(post.updated_at) %></h3>
<%= link_to("編集", { controller: "new_posts", action: "postEdit", postId: post.id, userId: 1, }, {method: :get, class: "delete-button"}) %>
<%= link_to("削除", { controller: "mypage", action: "delete", postId: post.id }, {method: :delete, class: "edit-button"}) %>
</div>
<% end %>
</div>
<footer>
		<ul>
			<li>
				<a target="_blank" href="">利用規約</a>
			</li>
			<li>

				|

				<a target="_blank" href="">プライバシーポリシー</a>
			</li>
			<li>

				|

				<a target="_blank" href="">健康課に資する運用方針</a>
			</li>
			<li>
				|
				<a target="_blank" href="">お問い合わせ</a>
			</li>
			<li>

				|

				<a target="_blank" href="">運営会社</a>
			</li>
			<li>

				|

				<a target="_blank" href="">サイトマップ</a>
			</li>
			<li>

				|

				<a target="_blank" href="">特定商取引法の表示</a>
			</li>
			<div class="copyright">
			COPYRIGHT (C) 2011 - 2019 Jimoty, Inc. Shut up and listen.
			</div>
		</ul>
	</footer>