<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>◎新規投稿◎</title>
 <script type="text/javascript" src="new_post.js"></script>
<link rel="stylesheet" type="text/css" href="new_post.css?201610261213">
</head>
<body>
<% if @posts.errors.any? %>
  <div id="error_explanation">
    <h2><%= @posts.errors.count %>件のエラーがあります。</h2>
 
    <ul>
    <% @posts.errors.full_messages.each do |msg| %>
      <li>・<%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="form_body">
<%= form_for(@posts, url: send_post_path) do |f| %>

<div class ="pulldown" id ="area_id">場所：

<%= f.collection_select :prefecture_id, Prefecture.all, :id, :prefecture %>
</div><br>
<div class ="pulldown">
カテゴリ：<%= f.collection_select :category_id, Category.all, :id, :category %>
</div>
<br>
<div class ="pulldown">
募集人数：<%= f.select :accept_number, options_for_select(1..200) %>
</div>
<br>
<div class ="pulldown">
募集年齢：<%= f.select :from_age, {"最低年齢を選んでください" => "0", "20歳" => "20", "25歳" => "25", "30歳" => "30", "35歳" => "35", "40歳" => "40", "45歳" => "45", "50歳" => "50", "55歳" => "55", "60歳" => "60"} %>
     から     <%= f.select :to_age, {"最高年齢を選んでください" => "0", "20歳" => "20", "25歳" => "25", "30歳" => "30", "35歳" => "35", "40歳" => "40", "45歳" => "45", "50歳" => "50", "55歳" => "55", "60歳" => "60"} %>
     </div>
<br>






     <%= f.text_field :title, :placeholder => "20文字以内でタイトルを入力してください" %>
  <%= f.text_area :content, :maxlength => "300" %>
  <div class = "button_wrapper">
  <%= f.submit "投稿する", id: "post_button", name: "post_submit"%>
</div>
</div>
<% end %>
</body>
</html>